body {
  background-color: #85bb65;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 50%;
  height: 300px;
  margin: auto;
  align-items: stretch;
  text-align: center;
}

.question {
  border-radius: 25%;
  margin: 10px 20px;
  border: solid gold 1px;
  padding: 25%;
}