/* Fonts from GoogleFonts */
/* Special thanks to Derek Banas Bootstrap tutorial https://www.youtube.com/watch?v=gqOEoUR5RHg */

body {
  background: linear-gradient(#5713b1, #000000, #5713b1);
  font-family: 'Russo One', sans-serif;
}

/* Sidebar styling tips from https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp*/
.sidebar {
  z-index: 1;
  height: 100%;
  width: 20%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  padding: 2%;
  overflow-y: scroll;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

#small {
  display: none;
}

.cash {
  font-family: 'Lobster', cursive;
  color: white;
  font-size: larger;
  margin-top: 7px;
}

h1, h2 {
  font-family: 'Lobster', cursive;
  color: gold;
  
}

h4 {
  color: gold;
}

.container {
  margin: auto;
  text-align: center;
  margin-left: 20%;
  justify-self: center;
}

.footnote {
  left: 0;
  bottom: 0;
  font-size: xx-small;
}

#life {
  width: 50%;
  margin: 5% auto;
  text-align: center;
  justify-content: center;
}

.lifeline {
  padding: 15px;
  cursor: pointer;
  border-radius: 25%;
  box-shadow: 0px 0px 0px 3px black;
  transition: box-shadow 0.1s linear;
  margin: 0.5em;
  background-color: #04d9ff;
  color: black;
}

/* Border animation from https://css-tricks.com/animating-border/ */
.lifeline:hover { 
  box-shadow: 0px 0px 0px 7px black;
}

.question {
  width: 75%;
  margin: 5% auto;
  text-align: center;
  justify-content: center;
}

.question-header {
  width: 75%;
  margin: 5% auto;
  text-align: center;
  justify-content: center;
}

.answer {
  padding: 15px;
  cursor: pointer;
  box-shadow: 0px 0px 0px 3px gold;
  transition: box-shadow 0.1s linear;
  border-radius: 25%;
  margin: 0.5em;
  color: gold;
  background-color: #891fb9;
}

/* Border animation from https://css-tricks.com/animating-border/ */
.answer:hover { 
  box-shadow: 0px 0px 0px 7px gold;
}

.progress {
  width: 75%;
  border: solid gold 5px;
  height: 40px;
  margin: 5% auto;
}

.progress-bar {
  background-color: #85bb65;
}

/* Modal designs from GA SEI 9-21 modal_practice w03d02 */
#intro {
  width: 75%;
  margin: 5% auto;
  text-align: center;
}

#modal {
  background-color: rgba(0, 0, 0, 0.5);
  color: black;
	position: fixed;
	top: 0;
  left: 0;
  width: 100%;
  height: 100%;
	z-index: 1;
	overflow: auto;
  display: none;
  margin: auto;
}

#modal-text {
  background-color: lightgray;
	height: auto;
	width: 75%;
	border-radius: 2%;
	margin: 25% auto;
	padding: 2%;
	line-height: 120%;
}

.modal-buttons {
	padding: 15px 20px;
	background-color: #891fb9;
	border: solid gold 1px;
	outline: none;
	border-radius: 3%;
	color: white;
	cursor: pointer;
}

#final-answer {
  background-color: rgba(0, 0, 0, 0.5);
  color: black;
	position: fixed;
	top: 0;
	left: 0;
  width: 100%;
  height: 100%;
	z-index: 1;
	overflow: auto;
  display: none;
  margin: auto;
}

#final-answer-text {
  background-color: lightgray;
	height: auto;
	width: 50%;
	border-radius: 2%;
	margin: 25% auto;
	padding: 2%;
	line-height: 120%;
}

.final-answer-buttons {
	padding: 15px 20px;
	background-color: #891fb9;
	border: solid gold 1px;
	outline: none;
	border-radius: 3%;
	color: white;
  margin: 1% auto;
	cursor: pointer;
}

#continue {
  background-color: rgba(0, 0, 0, 0.5);
  color: black;
	position: fixed;
	top: 0;
	left: 0;
  width: 100%;
  height: 100%;
	z-index: 1;
	overflow: auto;
  display: none;
  margin: auto;
}

#continue-text {
  background-color: gray;
	height: auto;
	width: 50%;
	border-radius: 2%;
	margin: 25% auto;
	padding: 2%;
	line-height: 120%;
}

.continue-buttons {
	padding: 15px 20px;
	background-color: #891fb9;
	border: solid gold 1px;
	outline: none;
	border-radius: 3%;
	color: white;
  margin: 1% auto;
	cursor: pointer;
}

@media (max-width: 540px) {
  #small {
    display: inline-block;
  }

  .sidebar {
    display: none;
  }

  .container {
    margin: auto;
    text-align: center;

  }
}